<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Olá {{name}},</p>
        <p>Você requisitou a atualização de sua senha.</p>
        <p> Por favor, clique neste link para redefinir a sua senha.</p>
        <a href="https://{{link}}">Redefinir senha</a>
    </body>
</html>
